/********  TAGS   *********/
html {
    height:100%;
}

body{
    color:#777777;
    font-family:'Arial','Helvetica Neue', Helvetica, sans-serif;
    background-color:#002200;
    background-image:url("../images/prism.png");
    margin:0 auto auto;
    min-height: 100%;
    position:relative;
    padding-bottom:58px;
} /* Body background pattern credited to Michal at toptal.com Subtle Patterns. */

h1 {
    padding:0;
    margin:0;
}

h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times,'Times New Roman', serif;
    margin:0 auto auto;
    padding:0 0 5px;
}

/******** CLASSES *********/

.middlecontainer {
    width:900px;
    background-color:#ffffff;
    border-color:#dddddd;
    margin:30px auto auto;
    padding:30px;
}

.topcontainer {
    padding:0;
    margin:0;
    background-color:#ffffff;
    border-bottom: 2px solid #999999;
}

.bottomcontainer {
    background-color:#666666;
    color: #bbbbbb;
    font-size: 0.7rem;
    border-top: 8px solid #4aaaa5;
    height:50px;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    align-items: center;
    text-align: center;
}

.profilepic {
    width:15%;
    float: left;
    margin: 10px;
}

.header {
    width:960px;
    margin: 0 auto;
}

#title {
    background-color:#4aaaa5;
    color:#ffffff;
    font-family: 'Georgia', Times,'Times New Roman', serif;
    width: 200px;
    padding: 20px 30px;
    float:left;
}

#links {
    width: 400px;
    float:right;
}